# General
NODE_ENV=development

# Database Configuration
# Replace with your local or hosted MySQL connection string
DATABASE_URL=mysql://user:password@localhost:3306/dbname
DB_ROOT_PASSWORD=your_root_password_here
DB_NAME=myuzima
